<header class ="navbar" navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<%= link_to "Joe's Barber Shop ", root_path, id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li></li>
						<li></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>